In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import math
import warnings
warnings.filterwarnings('ignore')
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('unit4.csv')
data.head()

,STATE,PVASTATE,DOB,MDMAUD,RECP3,GENDER,DOMAIN,INCOME,HOMEOWNR,HV1,HV2,HV3,HV4,IC1,IC2,IC3,IC4,IC5,VETERANS,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,RFA_2,NGIFTALL,TIMELAG,AVGGIFT
0,IL,,3712,XXXX,,F,T2,NaN,,479,635,3,2,307,318,349,378,12883,,74,27,6,14,9702,L4E,31,4.0,7.741935
1,CA,,5202,XXXX,,M,S1,6.0,H,5468,5218,12,10,1088,1096,1026,1037,36175,,32,12,6,13,9702,L2G,3,18.0,15.666667
2,NC,,0,XXXX,,M,R2,3.0,U,497,546,2,1,251,292,292,340,11576,,63,26,6,14,9702,L4E,27,12.0,7.481481
3,CA,,2801,XXXX,,F,R2,1.0,U,1000,1263,2,1,386,388,396,423,15130,,66,27,6,14,9702,L4E,16,9.0,6.812500
4,FL,,2001,XXXX,X,F,S2,3.0,H,576,594,4,3,240,250,293,321,9836,,113,43,10,25,9702,L2F,37,14.0,6.864865

In [3]:
data.isnull().sum()/len(data)

STATE       0.000000
PVASTATE    0.000000
DOB         0.000000
MDMAUD      0.000000
RECP3       0.000000
GENDER      0.000000
DOMAIN      0.000000
INCOME      0.222847
HOMEOWNR    0.000000
HV1         0.000000
HV2         0.000000
HV3         0.000000
HV4         0.000000
IC1         0.000000
IC2         0.000000
IC3         0.000000
IC4         0.000000
IC5         0.000000
VETERANS    0.000000
NUMPROM     0.000000
CARDPROM    0.000000
CARDPM12    0.000000
NUMPRM12    0.000000
MAXADATE    0.000000
RFA_2       0.000000
NGIFTALL    0.000000
TIMELAG     0.106582
AVGGIFT     0.000000
dtype: float64

In [4]:
data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90569 entries, 0 to 90568
Data columns (total 28 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   STATE     90569 non-null  object
 1   PVASTATE  90569 non-null  object
 2   DOB       90569 non-null  int64
 3   MDMAUD    90569 non-null  object
 4   RECP3     90569 non-null  object
 5   GENDER    90569 non-null  object
 6   DOMAIN    90569 non-null  object
 7   INCOME    70386 non-null  float64
 8   HOMEOWNR  90569 non-null  object
 9   HV1       90569 non-null  int64
 10  HV2       90569 non-null  int64
 11  HV3       90569 non-null  int64
 12  HV4       90569 non-null  int64
 13  IC1       90569 non-null  int64
 14  IC2       90569 non-null  int64
 15  IC3       90569 non-null  int64
 16  IC4       90569 non-null  int64
 17  IC5       90569 non-null  int64
 18  VETERANS  90569 non-null  object
 19  NUMPROM   90569 non-null  int64
 20  CARDPROM  90569 non-null  int64
 21  CARDPM12  90569 non-null  int64
 22  NUMPRM12  90569 non-null  int64
 23  MAXADATE  90569 non-null  int64
 24  RFA_2     90569 non-null  object
 25  NGIFTALL  90569 non-null  int64
 26  TIMELAG   80916 non-null  float64
 27  AVGGIFT   90569 non-null  float64
dtypes: float64(3), int64(16), object(9)
memory usage: 58.8 MB

In [5]:
list=[]

for i in data['HOMEOWNR']:
    if i == ' ':
        list.append(i)
        
    return len(list)

SyntaxError: 'return' outside function (<ipython-input-5-c07d91004b8c>, line 7)

In [ ]:
data['HOMEOWNR'] = list(map(lambda x: replace(' ', NaN))

## ACTIVITY 402

In [6]:
data.head(2)

,STATE,PVASTATE,DOB,MDMAUD,RECP3,GENDER,DOMAIN,INCOME,HOMEOWNR,HV1,HV2,HV3,HV4,IC1,IC2,IC3,IC4,IC5,VETERANS,NUMPROM,CARDPROM,CARDPM12,NUMPRM12,MAXADATE,RFA_2,NGIFTALL,TIMELAG,AVGGIFT
0,IL,,3712,XXXX,,F,T2,NaN,,479,635,3,2,307,318,349,378,12883,,74,27,6,14,9702,L4E,31,4.0,7.741935
1,CA,,5202,XXXX,,M,S1,6.0,H,5468,5218,12,10,1088,1096,1026,1037,36175,,32,12,6,13,9702,L2G,3,18.0,15.666667

In [7]:
data['DOMAIN'].value_counts()

R2    13006
T2    11717
S1    10866
S2     8054
C2     7834
C1     5793
C3     5056
T1     4712
R3     4572
U1     4259
U2     3111
U3     2484
       2176
T3     2092
S3     1817
U4     1735
R1     1285
Name: DOMAIN, dtype: int64

In [9]:
data['DOMAIN']= data['DOMAIN'].replace(' ', 'R2')

In [10]:
data['DOMAIN'].value_counts()

R2    15182
T2    11717
S1    10866
S2     8054
C2     7834
C1     5793
C3     5056
T1     4712
R3     4572
U1     4259
U2     3111
U3     2484
T3     2092
S3     1817
U4     1735
R1     1285
Name: DOMAIN, dtype: int64

In [12]:
data['MDMAUD']

0        XXXX
1        XXXX
2        XXXX
3        XXXX
4        XXXX
         ...
90564    XXXX
90565    XXXX
90566    XXXX
90567    XXXX
90568    C1CM
Name: MDMAUD, Length: 90569, dtype: object

SyntaxError: 'continue' not properly in loop (<ipython-input-13-347488276181>, line 3)